extends layout

block content

    nav.navbar.navbar-default(role='navigation')
        .container-fluid
            //
               Brand and toggle get grouped for better mobile display 
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/engineerIndex') MAID
            //
               Collect the nav links, forms, and other content for toggling 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='/engineerIndex') Home
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Inventory
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listMasterTool') List Inventory
                    li
                      a(href='/addMasterTool') Add Inventory
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Tools
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/listMasterTool') List Tools
                    li
                      a(href='/addMasterTool') Add Tools
                    li.divider 
                    li
                      a(href='/addMasterTool') Tool Status
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text', placeholder='Search')
                button.btn.btn-default(type='submit') Submit
                   
            //
               /.navbar-collapse 
          //
             /.container-fluid 

    h1= title
    p 
