extends layout

block content

  body
   
   section#services.services.bg-primary
    .container
        .row.text-center
          .col-lg-10.col-lg-offset-1
            h3 MAID
            hr.small
            .row
              .col-xs-6
                h2 Engineer Portal
                  img.btn(src="images/wrench2.png" href='/engineerIndex')
                  br
                  br
                  span.fa-stack.fa-4x
                  h4
                  a.btn.btn-default.btn-lg(href='/engineerIndex') Enter here
              .col-xs-6
                h2 Regional Administrator Portal
                  img.btn(src="images/gear.png")
                  span.fa-stack.fa-4x
                  h4
                  br
                  a.btn.btn-default.btn-lg(href='/managerIndex') Enter here
              
                  br 
                  br
                  br
                  br
                  br
                  br
                  br
                  br 
                  br
                  br
                  br
                  br
                  br
                  br
