body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
<<<<<<< HEAD
=======

>>>>>>> 0d895d7dbf015f2034c29abb7aaf2778f8329008
.highSeverity{
	color: red;
}

.mediumSeverity{
	color: blue;
}

.lowSeverity{
	color: yellow;
}

a {
  color: #00B7FF;
}
